<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Use privatePath to specify relative subfolders, separated by semicolons -->
			<probing privatePath="bin;DanmakuWidgetServer\libs;external"/>
		</assemblyBinding>
	</runtime>
</configuration>